@font-face {
    font-family: 'Courgette';
    src: url("./design/fonts/Courgette-Regular.ttf");
}
:root{
    font-size: 62.5%;
}

header nav ul{
    font-family: 'Courgette';
    font-size: 2rem;
}
h1{
    font-family: 'Comic sans MS';
}